/*font-family: 'Crimson Text', serif;
font-family: 'Open Sans', sans-serif;*/
section #Catagories{
	margin:10px;
	color:#55585D;
	font-weight:bold;
	font-size:12px;
	font-family: 'Crimson Text', serif;
}
#insta{
	margin:10px;
	color:#55585D;
	font-weight:bold;
	font-size:12px;
	font-family: 'Crimson Text', serif;

}
section #Popular_Posts{
	margin:10px;
	color:#55585D;
	font-weight:bold;
	font-size:12px;
	font-family: 'Crimson Text', serif;
}

section p{
	font-size:12px;
	font-weight:bold;
	font-family: 'Crimson Text', serif;
}
#Social_Network{
	width:100%;
	height:10%;
	position:absolute;
	background-color:#353638;
	color:white;
	display:flex;
	bottom:0;
	right:0;
	justify-content:center;
}
#First_Block{
	width:100%;
	height:50%;
	background-color:#3A3D42;
	color:white;
	bottom:10%;
	right:0;
	position:absolute;
	display:grid;
    grid-template-columns:20% 20% 20% 20% 20%;
}
#First_Block section{
  background-color:#3A3D42;
}
#First_Block section:nth-child(even){
  background-color:#3A3D42;
  margin-right:10px;
}
#facebook{
	width:30px;
	height:30px;
	border-radius:50%;
	background-color:#3A3D42;
	display:flex;
	position:absolute;
	justify-content:center;
	align-self:center;
	right:30%;
	margin:5px;
	top:3%;
}
#twitter{
	width:30px;
	height:30px;
	border-radius:50%;
	background-color:#3A3D42;
	display:flex;
	position:absolute;
	justify-content:center;
	align-self:center;
	right:27%;
	margin:5px;
	top:3%;
}
#instagram{
	width:30px;
	height:30px;
	border-radius:50%;
	background-color:#3A3D42;
	display:flex;
	position:absolute;
	justify-content:center;
	align-self:center;
	right:24%;
	margin:5px;
	top:3%;
}
#up{
	width:40px;
	height:40px;
	background-color:#3A3D42;
	display:flex;
	position:absolute;
	justify-content:center;
	align-items: center;
	right: 3%;
	bottom:4%;
	
}
  
.fa-sort-up{
	position:relative;
	align-self:center;
	font-size:40px;
}
.fa-twitter{
	position:relative;
	align-self:center;

}
.fa-facebook-f{
  position:relative;
  align-self:center;
}
.fa-instagram{
	position:relative;
	align-self:center;
}
.fa-sort-up{
	position:relative;
	align-self:center;
	color:#353638;
}
#imageChange{
	width:54px;
	height:54px;
	background-color:red;
	margin:5PX;
}
article div{
	float:left;
	display:block;
}
#Popular{
	height:40%;
	width:20%;
	position:absolute;
	display:grid;
    grid-template-columns:100%;
    grid-gap:14px;
}
#Popular article{
  background-color:#3A3D42;
  font-size:25px;
}
#Images_Instagram{
	height:40%;
	width:20%;
	position:absolute;
	display:grid;
    grid-template-columns:30% 30% 30%;
    grid-template-rows: 66% 66% 66%;
    grid-gap:5px;
}
#Images_Instagram div{
	background-color:green;
}
#Images_Instagram div:nth-child(even){
	background-color:blue;	
}
/*#Popular article:nth-child(even){
  background-color:gray;
}*/