

    .header-grid-container {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: repeat(12, 1fr);
    }

    ::-webkit-scrollbar { 
        display: none; 
        }

    /* Header - title */

    .header-title {
        grid-row: 1/2;
        grid-column: 6/8;
        text-align: center;
    }

    h1 {
        /* Website title */
        padding-top: 0.1em;
        padding-right: 0.2em;
        margin-top: 0.250em;
        font-family: 'Crimson Text', serif;
        font-size: 3.95em;
        font-weight: 600;
        color: rgb(64, 64, 64);
        margin-bottom: 0.2em;
    }

    h1:hover {
        color: rgb(255, 141, 106);
    }.menu-site{
        display:flex;
        flex-direction:row;
    }.logo-social-media{
        display:flex;
        flex-direction:row;
    }
/*
    ul {
        menu with 4 page links 
        list-style-type: none;
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        font-size: 0.82em;
        font-weight: 600;
        padding-right: 6.0em;
    }

    li {
        /* brings the menu links and social media links to horizontal instead of vertical 
        float: left;
    }*/

    /* Header - menu */

    .header-site-menu {
        grid-row: 2/3;
        grid-column: 4/10;
        align-self: start;
        justify-self: center;
    }

    .menu-site {
        text-align: top;
    }

    .menu-site > li {
        padding: 0.8em;
    }

    .menu-site>li>a:hover {
        color: rgb(255, 141, 106);
    }

    .menu-site > li a {
        color: rgb(64, 64, 64);
        text-align: center;
        padding: 1em 1.1em;
        text-decoration: none;
        letter-spacing: 0.048em;
    }

    /* Header - Social media */

    .header-social-media {
        display: flex;
        grid-row: 1/2;
        grid-column: 8/13;
        flex-direction: row;
        justify-content: flex-end;
        align-items: baseline;
        padding-right: 2.0em;
    }
    
    .logo-social-media > li > a > i {
        /* social media logo */
        font-size: 1.3em;
        padding: 0.6em;
        font-weight: 200;
    }

    .logo-social-media > li > a > i:hover {
        color: rgb(255, 141, 106);
    }

    .logo-social-media > li i {
        color: rgb(64, 64, 64);
    }

    /* search button */

    .button-search {
        background-color: transparent;
        border: 0em;
    }
    
    .fa-search {
        padding-left: 0.80em;
        padding-top: 0.6em;
        line-height: 1.2em;
        border-left: 1px solid rgb(247, 247, 247);
        font-size: 1.2em;
    }
    
    .fa-search:hover {
        color: rgb(255, 141, 106);
    }
    
    .button-search:focus {
        outline: 0;
    }
    
    .search-modal-window {
        display: none;
        position: absolute;
        z-index: 1;
        padding-top: 150px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
        max-width: 100%;
        max-height: 100%;
    }
    
    .search-modal-window-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fefefe!important;
        margin: auto;
        border: 1px solid #888;
        width: 60%;
        
    }
    
    .search-close-window {
        display: flex;
        text-align: right;
        float: right;
        color: #aaaaaa;
        font-size: 5em;
        font-weight: bold;
    }
    
    .search-close-window:hover,
    .search-close-window:focus {
        color: rgb(255, 141, 106);
        text-decoration: none;
        cursor: pointer;
    }
    
    .search-modal-window-content>input {
        margin-bottom: 2em;
    }
    
    .search-bar-input {
        font-family: 'Open Sans', sans-serif;
        border: 1px solid rgb(0, 0, 0);
        line-height: 2.5em;
        width: 50%;
        padding: 0.1em 0.85em;
    }
    
    input:focus::placeholder {
        color: rgb(180, 182, 184);
    }
    
    input::placeholder {
        text-transform: uppercase;
        font-size: 0.8em;
        font-weight: 600;
        color: rgb(75, 79, 84);
        letter-spacing: 0.09em;
    }
    
    .foodogle-power>img {
        height: 17%;
        width: 17%;
        vertical-align:middle
    }
    
    .foodogle-power {
        margin-top: 10px;
        text-align: right;
        display: block;
    }
    
    .google-power {
        font-size: 13px;
        font-family: 'Open Sans', sans-serif;
        color:black;
    }

    /* MAIN SECTION OF HOMEPAGE */

    /* PAGINATION */

    .main-grid-container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }

    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column: 5/6;
        margin-left: 2em;
    }

    .pagination a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        padding: 0.4em 0.85em;
        text-decoration: none;
        transition: background-color .3s;
        border: 0.05em solid rgb(212, 212, 212);
        border-radius: 50%;
        margin: 0 0.4em;
        font-family: 'Open Sans', sans-serif;
        font-size: 0.9em;
        color: rgb(172, 167, 167);
        width: 0.65em;
        height: 1.5em;
    }

    .pagination span {
        margin: 0 0.4em;
        font-family: 'Open Sans', sans-serif;
        color: rgb(212, 212, 212);
    }
    
    .pagination a.active {
        background-color: rgb(75, 79, 84);
        color: white;
        border: 0.05em solid rgb(212, 212, 212);
    }
}