**{
    font-family: 'Crimson Text', serif;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
   
}

body{
/*background-image: url("../dogfood9.jpg");*/
width: 100%;
}
a{
    color: #ff8d6a;
    background-color: transparent;
    text-decoration: none;  
}
.block{
    display: block;
  }
@media screen and (min-width: 1200px) {
  
}
    @media screen and (min-width: 768px) and (max-width: 991px) {
        .cardSM{
            margin-bottom: 4em!important;
        }  
        #first>.card-img-top {
            width: 100%!important;
            height: 40vw!important;
            object-fit: cover!important;
            display: block!important;
        }
        #toto img.card-img-top {
            width: 50%!important;
            height: 20vw!important;
            object-fit: cover!important;
            display: block!important;
        }
        .mySecond img {
            width: 100%!important;
            height: 30vw!important;
            object-fit: cover!important;
            display: block!important;
        }
        .art{
            margin-left: 0!important;
        }
        .cardText {
            font-family: 'Open Sans', sans-serif!important;
            font-weight: 900!important;
            font-size: 0.7em!important;
             margin-top: 1em!important;
        }
        .frontside .card .card-body img {
            width: 100%!important;
            height: 25vw!important;
            object-fit: cover!important;
            display: block!important;
        }
        .SeCardTitle5 {
            margin-left: 1em!important;   
        }
        .SeCardText {
            margin-left: 1em!important;
    }
    .SeCardTitle {
        margin-left: 1em!important;
    }
}

@media screen and (min-width: 990px) and (max-width: 1199px) {
    #toto {
        /*margin-left: -2%!important;*/
    }
    
}
@media (min-width: 0) {
    #secondSect{
        margin-left: 1.1em;
    }  
  }
  @media (min-width: 576px) {
    .SeCardTitle{
        margin-top: 3em!important;
    }
    
  }
 /* @media screen and (min-width: 768px) {
    .mx-3 {
        margin-right: 2rem!important;
  }*/
  @media screen and (min-width: 992px) {
    .SeCardTitle{
        margin-top: 0.4em!important;   
    }   
  }
  @media screen and (min-width: 1200px) {
} 
.btn {
    border-radius: 0;
}  
h1{
    font-family: 'Crimson Text', serif;
    text-align: center;
    font-size: 300%;
}
    .navbar-toggle {
    float: left;
    }

    .container {
        position: relative;
        
    }
    
    #first>.card-img-top{
        width: 98%;
        height: 23vw;
        object-fit: cover!important;
        display: block!important;
    }
    #cont .card{
        padding-right: -20px;
    }
    /*.unify{
        
        margin-right: 8%;
        
    }*/
   
    .cardText{
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-size: 0.7em;
        margin-top: 1.5em;
        margin-left: 0.8em;
        
    }
    .card-title{
        color: #ff8d6a;
        font-size: 0.7em;
        margin-top: 2em;
        margin-bottom: 2em;
        font-family: 'Open Sans Semibold', sans-serif;
        font-weight: bold;
    }
    #firsText{        
        font-family:  'Open Sans', sans-serif;
        font-weight: 700;
        font-size: 1.2em;   
        padding-bottom: 3.4em;     
    }
    .card{
        margin-bottom: 1em!important;
        
    }
    #toto>p.card-img{
        background-color: #ff8d6a;
        display: block;
    }
    .mt-3 {
        margin-top: 2em !important;
      }
    .text-divider{
        margin-left: 0;
        margin-right: 0;
        margin-top: 3em;
        margin-bottom: 2em; 
        line-height: 0; 
        text-align: left;
        margin-right: 6em;        
    }
    .text-divider span{
    background-color: #f5f5f5;
    padding: 1em;
    margin-left: 1.2em;
    font-size: 0.6em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    letter-spacing: 0.06em;  
    }
    .text-divider:before{  
        content: " "; 
        display: block; 
        border-top: 1px solid #e3e3e3; 
        border-bottom: 1px solid #f7f7f7;    
    }
    .divid{
        margin-top: -2em;
    }
    .mySecond{
       margin-top: 2.2em;       
   }
   .SeCardTitle{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    letter-spacing: 0.04em;
    margin-bottom: 4em;
    }
    .SeCardTitle5{
    margin-top: -1em;
    /*margin-left: 0.9em;*/
    Line-Height: 1.3;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 0.9em;
    letter-spacing: 0.04em;
    margin-bottom: 4em;
    color: black;
    }
    .SeCardText{
    margin-top: -3em;
    padding-bottom: 1.5em;
    Line-Height: 1.6;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.7em;
    letter-spacing: 0.04em;
    color: black;
}
.fa-share{
    color: black;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    font-size: 10px;
    border: 1px solid lightgrey;
    line-height: 20px;
    text-align: center;
    margin-top: 0.5em;
    margin-left: 1em;      
}
.share{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    color: black;
}
#aside{
    margin-left: -1.7em;
    margin-top: 2.2em; 
}
.btn-social{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 0.6em;
    padding-bottom: 0.9em;
    padding-top: 0.9em;
}
.btn-social>:first-child {

    width: 22px;
    line-height: 22px;
    font-size: 1.4em;
}
.art{
    margin-left: -2.5%;
}
#team {
    background: #eee !important;
}
.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}
.btn-primary {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e;
}
section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#team .card {
    border: none;
    background: #ffffff;
}
.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    /*-moz-transform: rotateY(0deg);*/
    -moz-transform: rotateY(0);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;

}
.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    /*-moz-transform: perspective(1000px);*/
    transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}
.frontside {
    position: relative;
   /* -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);*/
    transform: rotateY(0);
    transform: rotateY(0);
    z-index: 2;
    margin-bottom: 30px;
}
.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}
.frontside .card,
.backside .card {
    min-height: 242px;
}
/*.backside .card a {
    font-size: 18px;
    color: #007b5e !important;
}*/
.frontside .card .card-body img {
    width: 100%;
    height: 10vw;
    object-fit: cover;
    display: block;
}


/*Footer start here */
footer{
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  padding:0;
}
.row{
    margin-bottom:0!important;
}
#First_Block{
    background-color:#3a3e43;
    display:flex;
    flex-direction:row;

}
#first_col{
    background-color:#3a3e43;
    height:100%;
    width:240px;
    left:16%;
    position:relative;
}
#Second_Block{
    background-color:#3a3e43;
    width:200px;
    left:20%;
    position:relative;
}
#third_col{
    background-color:#3a3e43;
    width:200px;
    left:26%;
    position:relative;
    margin-top:20px;
}
#Social_Network{
    width:100%;
    height:40px;
    position:relative;
    background-color:#303336;
    display:flex;
    bottom:0;
    right:0;
    justify-content:center; 
}
#facebook{
    width:22px;
    height:22px;
    border-radius:50%;
    background-color:#3a3e43;
    display:flex;
    position:absolute;
    justify-content:center;
    align-self:center;
    right:32%;
    margin:5px;
    top:3%;
}
#twitter{
    width:22px;
    height:22px;
    border-radius:50%;
    background-color:#3a3e43;
    display:flex;
    position:absolute;
    justify-content:center;
    align-self:center;
    right:30%;
    margin:5px;
    top:3%;
}
#instagram{
    width:22px;
    height:22px;
    border-radius:50%;
    background-color:#3a3e43;
    display:flex;
    position:absolute;
    justify-content:center;
    align-self:center;
    right:28%;
    margin:5px;
    top:3%;
    color:white;
}
#up{
    width:18px;
    height:18px;
    background-color:#4a4b4c;
    display:flex;
    position:fixed;
    justify-content:center;
    align-items: center;
    right: 2%;
    bottom:2%;
} 
.fa-sort-up{
    position:relative;
    align-self:center;
    font-size:18px;
    margin-top:50%;
}
.fa-twitter{
    position:relative;
    align-self:center;
    color:white;
    font-size:10px;
}
.fa-facebook-f{
  position:relative;
  align-self:center;
  color:white;
  font-size:10px;
}
.fa-instagram{
    position:relative;
    align-self:center;
    color:white;
    font-size:10px;
}
.fa-sort-up{
    position:relative;
    align-self:center;
    color:white;
}
#categories{
    position:relative;
    height:248px;
    max-height:248px;
    font-size:8px;
    font-family: 'Open Sans', sans-serif;
    font-weight:900;
    margin-top:30px;
}

#categories hr{
    width:70%;
    margin-left:0%;
    margin-top:10px;
    opacity:0.2;
    grid-row: 2/3;
    grid-column: 4/10;
    align-self: start;
    justify-self: center;
}#community_first{
    position:relative;
    margin-left:10px;
}
#categories ul li a{
    text-decoration:none;
    color:white;
    font-family: 'Open Sans', sans-serif;
    font-weight:bold;
    margin-left:-160px;
    position:relative;
}
li{
    list-style:none;
}
#title_footer{
    font-size:8px;
    color:#a6a6a6;
    margin-bottom:5px;
    font-family: 'Open Sans', sans-serif;
    font-weight:bold;
    left:-40px;
    margin-top:20px;
    position:relative;
}
.title_footer{
    font-size:8px;
    color:#a6a6a6;
    margin-bottom:5px;
    margin-top:14px;
    font-family: 'Open Sans', sans-serif;
    font-weight:bold;
    margin-left:-100px;
    position:relative;
}
#first_Article a h3{
    font-size:8px;
    color:white;
    position:relative;
    margin-top:0px;
    float:right;
    line-height:10px;
    font-family: 'Open Sans', sans-serif;
    font-weight:900;
    right:20px;
    margin-right:10px;
    justify-content:flex-start;
}
#popular_post{
    margin-top:30px;
}
#first_Article img{
  width:57px;
  height:44px;
  margin-left:-22px;
}
#second_Article a h3{
    font-size:8px;
    color:white;
    position:relative;
    float:right;
    line-height:10px;
    font-family: 'Open Sans', sans-serif;
    font-weight:900;
    margin-right:10px;  
}
#second_Article img{
  margin-top:20px;
  width:57px;
  height:44px;
  
}
#third_Article img{
  margin-top:20px;
  width:57px;
  height:44px;
}
#third_Article a h3{
    font-size:8px;
    color:white;
    margin-right:10px;
    position:relative;
    float:right;
    line-height:10px;
    font-family: 'Open Sans', sans-serif;
    font-weight:900;    
}
#instagram_Pictures img{
    width:58px;
    height:56px;
    margin:1px;
}
/*FIN FOOTER*/
#cont img{
    width: 100%;
    height: 18vw;
    object-fit: cover;
    display: block;
}
#thirdSect .fa-facebook-f{
    margin-left: 0px;
    color: #ff8d6a;
}
#thirdSect .fa-twitter{
    margin-left: 5px;
    color: #ff8d6a;
}
#thirdSect .fa-instagram{
    margin-left: 5px;
    color: #ff8d6a;
}
#thirdSect .backside .card-title {
    color: #ff8d6a;
    font-size: 0.5em;
    margin-top: 2em;
    margin-bottom: 2em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-left: -15px;
}
@media only screen
and (min-device-width : 100px)
and (max-device-width : 651px){
    #mobile_main_image{
        height:100vh;
        background-image:url("https://contattafiles.s3.us-west-1.amazonaws.com/tnt14094/yJHJnz85-SCTmsF/Dog_Background.jpg");
        background-repeat:no-repeat;
        background-size:100vh 100vh;
    }header{
      display:flex;
      position:fixed;
      top: 0;
      left:0;
      background-color:white;
      width:100%;
      height:220px;
      z-index:1;
    }#mobile_change_post{
        display:flex;
        flex-direction:row;
        top:210px;
        left:8%;
        position:absolute;
    }#mobile_change_post button{
       margin:20px;
       height:80px;
       width:240px;
       font-size:44px;
       color:#44464a;
       background-color:#f3f0f9;
       font-family: 'Open Sans', sans-serif;
       border-radius:30px;
       border:1 solid #eae9ed;
       font-weight:bold;
    }#secondSect {
    top: 280px;
    position: relative;
    }.text-divider{
        display:none!important;
    }.mySecond img {
    width: 100%!important;
    height: 500px!important;
    margin-top: 40px;
    border-radius: 10%;
    position: relative;
    z-index: 0;
}.mySecond {
    margin-left: 33px;
    margin-right: 44px;
    margin-top:30px;
}.SeCardText{
    display:none;
}.share{
    display:none;
}.SeCardTitle{
    display:none;
}.card-title{
    font-size:40px!important;
    margin-top: 5%!important;
    margin-bottom: 0!important
}#thirdSect {
    top: 320px;
    margin-top: 30px;
    position: relative;
    margin-right: 44px;
    margin-left: 33px;
}.col-sm-6 {
     width: 100%!important; 
}.frontside .card .card-body img {
    width:100%!important;
    height:500px!important;
    border-radius:10%;
    position:relative;
    z-index: 0;
}#first_col{
    display:none;
}#Second_Block{
    display: none;
}#third_col{
    display:none;
}footer{
    margin-top: 300px;
    display: flex;
    position: relative;
    height: 200px!important;
    background: #3a3e43;
}#Social_Network {
    width: 100%;
    height: 100px!important;
    position: absolute;
    background-color: #303336;
    display: flex;
    bottom: 0;
    right: 0;
    justify-content: center;
}#Social_Network h1{
    font-size:40px;
    color:white!important;
}#up {
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 1%;
}.fa-sort-up {
    font-size: 40px;
}.fa-facebook-f{
    font-size:40px;
}#facebook{
    top:-60%;
    left:37%;
}.fa-twitter{
  font-size:40px;
}#twitter{
    top:-60%;
    left:47%;
    }#instagram{
    top:-60%;
    left:57%;
}.fa-instagram{
    font-size:40px;
    }.header-site-menu{
        display:none;
    }.logo-social-media1{
        display:none!important;
    }.fa-search{
        font-size:40px!important;
    }.header-title h1 {
    font-size: 100px;
    /* text-align: center; */
    margin-left: -85px;
}.show{
    display:block;
}#container_menu_drop{
    background-color:rgb(247, 247, 247);
    font-family: 'Open Sans', sans-serif;
    width:60%;
    position:absolute;
    font-size:35px;
    text-transform: uppercase;
}.hide1{
    display:none;
}#drop_menu li a{
    margin-left:20%;
   color: rgb(64, 64, 64)!important;
   padding:10px;
   } #drop_menu h4{
    margin-left:20%;
    margin-left:20%;
    font-size:55px;
    font-family: 'Open Sans', sans-serif;
    font-weight:bold;
   color: rgb(64, 64, 64)!important;
   }#mobile_nav .fa-bars {
    font-size: 60px;
    margin-left: 20px;
}

#dodo{
    display:none;
}#toto img.card-img-top {
    width: 100%!important;
    height: 500px!important;
    border-radius: 10%;
    position: relative;
    z-index: 0;
    object-fit: cover!important;
    display: block!important;
}.col-sm-offset-1{
    margin-left:0!important;
}.col-sm-10{
    width:100%!important;
}.hide_mobile{
    display:none;
}#mobile_first{
    top:350px;
}#toto p {
    margin-top: 30px!important;
    font-size: 40px!important;
}#change_page{
    display:none!important;
}html{
    height:100%;
    width:100%;
    }.fa-angle-down{
    font-size:10vh;
    bottom:2%;
    left:45%;
    position:absolute;
    color:white;
    }#first_page_mobile h1{
        color:white;
        font-size:10vh;
        left:20%;
        top:2%;
        position:absolute;
    }.show{
        display:block;
    }.masked{
        display:none;
    }.mobile_hr{
    display:block;
}.col-sm-5 {
    width: 100%;
}
}
@media only screen
and (min-device-width : 650px)
and (max-device-width : 8000px){
    #Social_Network h1{
        display:none;
    }#mobile_nav{
        display:none;
        }#mobile_show{
        display:block!important;
        }#mobile_main{
        display:none;
    }#mobile_change_post{
        display:none!important;
    }#firstSect{
        display:block;
    }
    #toto img.card-img-top{
    width: 100%;
    height: 7vw;
    object-fit: cover!important;
    display: block!important;
}
#thirdSect .fa-facebook-f{
    color: #ff8d6a;
}#thirdSect .fa-twitter{
    margin-left: 5px;
    color: ff8d6a;
}#thirdSect .fa-instagram{
    margin-left: 5px;
    color: #ff8d6a;
}#thirdSect .backside .card-title {
    color: #ff8d6a;
    font-size: 0.5em;
    margin-top: 2em;
    margin-bottom: 2em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-left: -15px;
}

 /* PAGINATION */
.main-grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 5/6;
    margin-left: 2em;
}.pagination a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    padding: 0.4em 0.85em;
    text-decoration: none;
    transition: background-color .3s;
    border: 0.05em solid rgb(212, 212, 212);
    border-radius: 50%;
    margin: 0 0.4em;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    color: rgb(172, 167, 167);
    width: 0.65em;
    height: 1.5em;
}.pagination span {
    margin: 0 0.4em;
    font-family: 'Open Sans', sans-serif;
    color: rgb(212, 212, 212);
}.pagination a.active {
    background-color: rgb(75, 79, 84);
    color: white;
    border: 0.05em solid rgb(212, 212, 212);
}#change_page {
    display: flex;
    background-color: white !important;
    border: none !important;
    box-shadow: none !important;
    margin-bottom: 40px;
}#all_Articles hr {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #dcdcdc;
    size: 1;
    opacity: 0.2;
}
}
@media only screen and (min-width: 601px){
nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
    height: 64px;
    line-height: 64px;
}#change_page #one {
    background-color: #4b4f54;
    border: solid #4b4f54 1px;
}#change_page div {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: white;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #bababa;
    font-size: 10px;
    justify-content: center;
    align-self: center;
    align-items: center;
    display: flex;
    margin-right: 5px;
    border: solid #bababa 1px;
    position: relative;
    left: 42%;
}
}

/**

@media only screen
and (min-device-width : 1020px)
and (max-device-width : 8000px){
    #Social_Network h1{
        display:none;
    }#mobile_nav{
        display:none;
        }#mobile_show{
        display:block!important;
        }#mobile_main{
        display:none;
    }#mobile_change_post{
        display:none!important;
    }#firstSect{
        display:block;
    }
}#thirdSect .fa-facebook-f{
    color: #ff8d6a;
}#thirdSect .fa-twitter{
    margin-left: 5px;
    color: ff8d6a;
}#thirdSect .fa-instagram{
    margin-left: 5px;
    color: #ff8d6a;
}#thirdSect .backside .card-title {
    color: #ff8d6a;
    font-size: 0.5em;
    margin-top: 2em;
    margin-bottom: 2em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-left: -15px;
}


.main-grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 5/6;
    margin-left: 2em;
}.pagination a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    padding: 0.4em 0.85em;
    text-decoration: none;
    transition: background-color .3s;
    border: 0.05em solid rgb(212, 212, 212);
    border-radius: 50%;
    margin: 0 0.4em;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    color: rgb(172, 167, 167);
    width: 0.65em;
    height: 1.5em;
}.pagination span {
    margin: 0 0.4em;
    font-family: 'Open Sans', sans-serif;
    color: rgb(212, 212, 212);
}.pagination a.active {
    background-color: rgb(75, 79, 84);
    color: white;
    border: 0.05em solid rgb(212, 212, 212);
}#change_page {
    display: flex;
    background-color: white !important;
    border: none !important;
    box-shadow: none !important;
    margin-bottom: 40px;
}#all_Articles hr {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #dcdcdc;
    size: 1;
    opacity: 0.2;
}.mobile_hr{
    display:none;
}
*/