@media only screen and (max-width: 800px) {

    .header-grid-container {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: repeat(12, 1fr);
    }

    .header-mobile-menu {
        grid-row: 1;
        grid-column: 1;
        align-self: start;
    }

    .mobile-menu {
        width: 35px;
        height: 5px;
        background-color: rgb(107, 106, 106);
        margin: 6px 0;
    }

    h1 {
        /* Website title */
        font-family: 'Crimson Text', serif;
        font-size: 4em;
        font-weight: 600;
        color: rgb(67, 67, 67);
        grid-row: 1/2;
        grid-column: 4/10;
        text-align: center;
        width: 100%;
        margin-top: -1.5em;
    }

    /* MENU */

    .header-site-menu {
        display: flex;
        flex-direction: row;
        grid-row: 2/3;
        grid-column: 4/8;
        margin-top: 0em;
        justify-content: center;
        align-items: center;
    }

    .menu-site > li {
        padding: 0.7em;
    }

    li a {
        color: rgb(51, 51, 51);
        text-align: center;
        padding: 1em 1.1em;
        text-decoration: none;
        width: 100%;
    }

    ul {
        /* menu with 4 page links */
        list-style-type: none;
        overflow: hidden;
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        font-size: 0.9em;
        font-weight: 600;
        color: rgb(67, 67, 67);
    }

    /* social media - add to hamburger menu ???*/

    /* .header-social-media {
        display: flex;
        padding: 1.1em;
        grid-row: 3;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    i {
        font-size: 3em;
        padding: 0.2em;
    } */

    /* pagination */

    .pagination {
        display: none;
    }
}
