@media (min-width: 768px) and (max-width: 1024px) {
  #pub_Follows{
  	display:none;
  } #all_Articles {
    margin-top: 240px;
    margin-left:50px;
    grid-column-start: 1;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 11;
}.topic{
	font-size:20px;
}.sub_Title{
	font-size:30px;
}.column{
	width:90%;
}.resume{
	font-size:25px;
	max-width:none;
}article img {
    width: 300px;
    height: 230px;
    margin-right: 20px;
}.share_{
	display:none;
}#first_col{
	position:relative;
	left:-150px;
}#categories{
	font-size:16px;
}#title_footer{
	font-size:20px;
}#Second_Block{
	position:relative;
	left:-50px;
}#popular_posts{
	width:300px;
}.title_footer{
	font-size:20px;
}#popular_posts img{
	width:60px;
	height:60px;
}#third_Article h3 a {  
	position:relative;
    top: -90%;
    font-size:12px;    
}#second_Article{
	height:80px;
}
#second_Article h3 a {  
	position:relative;
    top: -100%;
    font-size:12px;    
}#first_Article h3 a {
	margin-top:10px;
	font-size:12px;
}#instagram_Pictures {
    width: 200px;
    margin-left: 40px;
}#third_footer h3 {
    margin-top: 25px!important;
    margin-left: 50px;
}
#insta_block {
	position:relative;
	top:6%;
	margin-left:100px;
	width:230px;
	height:300px;
}#facebook{
	width:50px;
	height:50px;
	position:relative;
	margin-left:20px;
}#instagram{
	width:50px;
	height:50px;
	position:relative;
	margin-right: 20px;
	margin-left:20px;
}#twitter{
	width:50px;
	height:50px;
	position:relative;
}.fa-facebook-f{
	font-size:40px;
}.fa-twitter{
	font-size:40px;
}.fa-instagram{
	font-size:40px;
}#up{
	width:50px;
	height:50px;
	position:fixed;
	bottom:10px;
}.fa-sort-up{
	font-size:40px;
}header{
	position:fixed;
	background-color:white;
	z-index: 3;
	width:100%;
}.header-site-menu{
	display:none;
}#mobile_nav{
	display:block;
	background-color:white;
}.hide_Subjets{
	display:none;
}#container_menu_drop{
	width:500px;
}.fa-bars{
		font-size:40px;
		margin-left:10px;
	}.fa-search {
		font-size:40px!important;
	}
}