
**{
    font-family: 'Crimson Text', serif;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
   
}
body{
background-image: url("../dogfood9.jpg");
width: 100%;
}
@media screen and (min-width: 992px) {
    /*.mx-3 {
        margin-right: 2rem!important;
    
    }*/
}
    @media screen and (min-width: 768px) and (max-width: 900px) {
   /* .cardT{   
    margin-left: 15px !important;
    
    }*/
}
/*
@media (min-width: 0) {
    
    
  }
  @media (min-width: 576px) {
    
    
  }
  @media screen and (min-width: 768px) {
    .mx-3 {
        margin-right: 2rem!important;
  }
  @media screen and (min-width: 992px) {
    .mx-3 {
        margin-right: 2rem!important;
    
    }
  }
  @media screen and (min-width: 1200px) {
    .mx-3 {
        margin-right: 5rem!important;
    
    }
  }*/

  
h1{
    font-family: 'Crimson Text', serif;
    text-align: center;
    font-size: 300%;
}
.navbar-toggle {
    float: left;
}

    .container {
        position: relative;
        
    }
    #first>.card-img-top {
        width: 100%;
        height: 23vw;
        object-fit: cover;
    }
    /*#first{
        background-color: blueviolet;
    }
    
    #dodo{
        background-color: aquamarine;
    }
    #toto{
        background-color: coral;
    }*/
    /*#dodo>.card-img-top{
        display: block;
        margin: auto;
    }*/
    .card-title{
        color: crimson;
        font-size: 0.5em;
        margin-top: 3em;
        margin-bottom: 2em;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;

    }
    #firsText{
        
        font-family:  'Open Sans', sans-serif;
        font-weight: 700;
        font-size: 1.2em;
        

    }
    /*.square {
        width: 100%;
        padding-bottom: 100%;
        background-size: cover;
        background-position: center;
        background-color: darkgray;
    }*/
    .card{
        padding-bottom: 3em!important;
    }
    #toto>p.card-img{
        background-color: coral;
    }
    .mt-3 {
        margin-top: 2em !important;
      }
/*img{
    margin-bottom: 4px;
}*/
/*font-family: 'Crimson Text', serif;
font-family: 'Open Sans', sans-serif;*/
footer{
	width:100%;
	bottom:0;
	left:0;
	position:relative;
	display:flex;
	background-color:#303336;
}
#First_Block{
	background-color:#3a3e43;
	height:282px;
}
#first_col{
	background-color:#3a3e43;
	height:248px;
}
#Social_Network{
	width:100%;
	height:60px;
	position:relative;
	background-color:#303336;
	display:flex;
	bottom:0;
	right:0;
	justify-content:center;	
}
#facebook{
	width:22px;
	height:22px;
	border-radius:50%;
	background-color:#3a3e43;
	display:flex;
	position:absolute;
	justify-content:center;
	align-self:center;
	right:36%;
	margin:5px;
	top:3%;
}
#twitter{
	width:22px;
	height:22px;
	border-radius:50%;
	background-color:#3a3e43;
	display:flex;
	position:absolute;
	justify-content:center;
	align-self:center;
	right:34%;
	margin:5px;
	top:3%;
}
#instagram{
	width:22px;
	height:22px;
	border-radius:50%;
	background-color:#3a3e43;
	display:flex;
	position:absolute;
	justify-content:center;
	align-self:center;
	right:32%;
	margin:5px;
	top:3%;
	color:white;
}
#up{
	width:18px;
	height:18px;
	background-color:#4a4b4c;
	display:flex;
	position:absolute;
	justify-content:center;
	align-items: center;
	right: 2%;
	bottom:10%;
} 
.fa-sort-up{
	position:relative;
	align-self:center;
	font-size:18px;
	margin-top:50%;
}
.fa-twitter{
	position:relative;
	align-self:center;
	color:white;
	font-size:10px;
}
.fa-facebook-f{
  position:relative;
  align-self:center;
  color:white;
  font-size:10px;
}
.fa-instagram{
	position:relative;
	align-self:center;
	color:white;
	font-size:10px;
}
.fa-sort-up{
	position:relative;
	align-self:center;
	color:#353638;
}
#title_footer{
    font-size:8px;
	color:#a6a6a6;
	margin-bottom:5px;
	margin-top:14px;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	left:2%;
	position:relative;
}
.title_footer{
	font-size:8px;
	color:#a6a6a6;
	margin-bottom:5px;
	margin-top:14px;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	left:5%;
	position:relative;
}
#categories{
	position:relative;
	left:53%;
	height:248px;
	max-height:248px;
	font-size:8px;
	font-family: 'Open Sans', sans-serif;
	font-weight:900;
	margin-top:30px;
}
#instagram_pic{
	position:relative;
	left:-30%;
	height:248px;
	max-height:248px;
	font-size:8px;
	font-family: 'Open Sans', sans-serif;
	font-weight:900;
	margin-top:30px;
}
#popular_posts{
	position:relative;
	left:-30%;
	height:248px;
	max-height:248px;
	font-size:8px;
	font-family: 'Open Sans', sans-serif;
	font-weight:900;
	margin-top:30px;
}
#categories hr{
	width:34%;
	margin-left:0%;
	margin-top:10px;
	opacity:0.2;
}
#Second_Block{
	height:248px;
}
ul li a{
	text-decoration:none;
	color:white;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
}
#first_Article{
 display:flex;
}
#second_Article{
 display:flex;
}
#third_Article{
 display:flex;
}
#first_Article h3 a{
	font-size:8px;
	color:white;
	position:absolute;
	top:10%;
	line-height:10px;
	font-family: 'Open Sans', sans-serif;
	font-weight:900;
}
#first_Article img{
  width:57px;
  height:44px;
  float:left;
  margin-right:10px;
}
#second_Article h3 a{
	font-size:8px;
	color:white;
	position:absolute;
	top:22%;
	font-family: 'Open Sans', sans-serif;
	font-weight:900;	
}
#second_Article img{
  width:57px; 
  height:44px;
  float:left;
  float:left;
  margin-top:10px;
  margin-bottom:15px;
  margin-right:10px;
}
#third_Article img{
	width:57px;
	height:44px;
	float:left;
	margin-right:10px;
}
#third_Article h3 a{
	font-size:8px;
	color:white;
	position:absolute;
	top:40%;
	font-family: 'Open Sans', sans-serif;
	font-weight:900;	
}
#instagram_Pictures img{
	width:58px;
	height:56px;
	margin:1px;
}
