/*body{
	background-image: url('/home/crow/Pictures/singlePage.jpeg');
}*/
/**Header**/
header{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:80px;
}
/**/
#nutrition{
	display:grid;
	grid-column-start:6;
	color:#ff8d6a;
	font-size:8px;
	font-weight:900;
	top:4%;
	margin-top:10px;
	margin-bottom:10px;
	position:absolute;
	font-family: 'Crimson Text', serif;
}
#container{
	width:100%;
	height:10%;
	display:grid;
	position:relative;
    grid-template-columns:repeat(12, 1fr);
}
#text{
	display:grid;
	grid-column-start:9;
	grid-column-end:11;
	grid-row-start:2;
	justify-content:center;
}
#text div{
	display:flex;
	flex-direction:row;
	margin-top:120px;
	max-height:10vh;
}
#sub_Follow{
	font-size:12px;
	color:#96979c;
	font-family: 'Crimson Text', serif;
	height:18px;
	position:relative;
	left:36%;
}
#text .fa-facebook-f{
	width:25px;
	height:25px;
	border-radius:50%;
	display:flex;
	justify-content:center;
	align-items:center;
	background-color:#3a3e43;
	margin-right:10px;
	color:#e7e7e7;
}
#text .fa-twitter{
	width:25px;
	height:25px;
	border-radius:50%;
	align-items:center;
	display:flex;
	justify-content:center;
	align-self:center;
	font-color:white;
	color:#e7e7e7;
	font-size:14px;
	background-color:#3a3e43; 
	margin-right:10px;
	margin-left:-20px;
}
#text .fa-instagram{
	width:25px;
	height:25px;
	border-radius:50%;
	align-items:center;
	display:flex;
	justify-content:center;
	align-self:center;
	font-color:white;
	color:#e7e7e7;
	font-size:14px;
	background-color:#3a3e43;
	margin-right:10px;
}
#text .fa-pinterest-p{
	width:25px;
	height:25px;
	border-radius:50%;
	align-items:center;
	display:flex;
	justify-content:center;
	align-self:center;
	color:#e7e7e7;
	font-size:14px;
	background-color:#3a3e43;
	margin-right:10px;
}
#article_nutrition{
	display:grid;
	grid-column-start:4;
	grid-column-end: 8;
	grid-row-start:2;
	margin-top:40px;
}
#article_nutrition h1{
   font-family: 'Open Sans', sans-serif;
   color:#45484d;
   font-weight:900;
   font-size:21px;
}
#mobile{
	 font-family: 'Open Sans', sans-serif;
   color:#45484d;
   font-weight:900;
   font-size:21px;
}
}
h1{
   font-family: 'Open Sans', sans-serif;
   color:#45484d;
   font-weight:900;
   font-size:21px;
   bottom:0px;
}
#break_line{
	display:flex;
	left:28%;
	position:relative;
}
#image_Dog{
	height:500px;
	width:500px;
	background-color:red;
}
#comment hr{
	margin-left:0px;
	position:relative;
	width:99%;
	display:flex;
	opacity:0.8;
}
#Circle_Text{
	width:30px;
	height:30px;
	background-color:#fe8c69;
	color:#ffd7ca;
	border-radius:50%;
}
#farmer_dog{
	font-size:8px;
	color:#b3b3b3;
	font-family: 'Open Sans', sans-serif;
	font-weight:900;
	position:relative;
	display:flex;
	top:5px;
	left:5px;
}
#flex{
	display:inline-flex;
}
#btn_Comment{
	width:80px;
	height:17px;
	background-color:#555555;
	position:relative;
	font-family: 'Open Sans', sans-serif;
	font-weight:900;
	left:60%;
	font-size:8px;
	text-align:center;
	color:white;
	border-radius:6%;
	display:flex;
	top:4px;
}
#btn_Comment span{
	align-self:center;
	position:absolute;
	left:40%;
	font-family: 'Open Sans', sans-serif;
	font-weight:900;
}
.fa-comment{
	align-self:center;
	position:absolute;
	left:10%;
}
#share_Text{
	font-size:9px;
	font-family: 'Open Sans', sans-serif;
	left:62%;
	top:5px;
	position:relative;
}
#facebook_comment{
	border-radius:50%;
	background-color:#7c8ebc;
	width:22px;
	height:20px;
	margin:5px;
	justify-content:center;
	align-self:center;
	display:flex;
}
#twitter_comment{
	border-radius:50%;
	background-color:#57bfdc;
	width:22px;
	height:20px;
	margin:5px;
	justify-content:center;
	align-self:center;
	display:flex;
	margin-left:-4px;
}
#pinterest_comment{
	border-radius:50%;
	background-color:#f64c4d;
	width:22px;
	height:20px;
	margin:5px;
	display:flex;
	justify-content:center;
	align-self:center;
	margin-left:-4px;
}
#twitter_comment .fa-twitter{
	position:relative;
	align-self:center;
	font-color:white;
	color:#e7e7e7;
	font-size:10px;
}
#facebook_comment .fa-facebook-f{
  position:relative;
  align-self:center;
  font-color:white;
  color:#e7e7e7;
  font-size:10px;

}
#pinterest_comment .fa-pinterest{
	position:relative;
	align-self:center;
	color:#e7e7e7;
	font-size:10px;
}
#social_network{
	left:62%;
	position:relative;
	display:flex;
	top:-4px;
}
#text_articule{
	width:99%;
	height:940px;
	background-color:red;
}
#section_share{
	display:flex;
	align-self:center;
	position:relative;
	left:8%;
}
#section_share button{
}
#section_share p{
	float:left;
	margin-top:30px;
	font-size:9px;
	font-family: 'Open Sans', sans-serif;
}
#section_share button{
	font-family: 'Open Sans', sans-serif;
	font-size:8px;
	color:white;
	margin-top:22px;
	margin-left:10px;
	float:right;
	height:25px;
	width:80px;
	border-radius:2%;
	border:none;
	margin-right:6px;
	font-weight:900;
}
#count_comment{
	background-color:#4d4d4d;

}
#btn_share_facebook{
  background-color:#7d8fbd;
}
#btn_share_tweet{
  background-color:#58bfde;
}
#btn_share_pinterest{
  background-color:#e1484d;
}
#btn_share_pinterest .fa-pinterest{
	font-size:10px;
}
#btn_share_tweet .fa-twitter{
	font-size:10px;
}
#btn_share_facebook .fa-facebook-f{
	font-size:10px;
}
#subscribe h2{
	font-family: 'Open Sans', sans-serif;
	color:#232323;
	left:8%;
	margin-top:45px;
	position:relative;
	font-weight:200;
}
#sub_title_section_share{
	margin-top:18px;
	font-size:11px;
	font-family: 'Open Sans', sans-serif;
	position:relative;
	left:11%;
}
#subscribe input{
	width:250px;
	height:26px;
	display: flex;
	position:relative;
	float:left;
	left:10%;
}
#sign_up button{
	background-color:#e88067;
	font-family: 'Open Sans', sans-serif;
	color:white;
	font-weight:900;
	position:relative;
	font-size:8px;
	height:26px;
	width:86px;
	margin-left:48px;
    border:none;
}
#previous{
	font-size:8px;
	color:#bababa;
	font-family: 'Open Sans', sans-serif;
}
#Superfoods{
  font-size:10px;
  color:#4b4f54;
  margin-top:20px;
}
#sign_up hr{
	opacity:0.8;
}
#Circle_Text2{
	margin-top:16px;
	width:70px;
	height:70px;
	background-color:#fe8c69;
	color:#ffd7ca;
	border-radius:50%;
	float:left;
}
#info_Title{
	font-size:12px;
	font-family: 'Open Sans', sans-serif;
	margin-left:80px;
}
#info_text{
	font-size:10px;
	font-family: 'Open Sans', sans-serif;
	color:#c9c9c9;
	font-weight:900;
	margin-left:80px;
	position:relative;
}
#Might_Like{
	margin-top:30px;
}
#Might_Like p{
	font-size:12px;
	float:left;
}
#Might_Like hr{
  margin-top:0.5em;
  position:relative;
}
#Might_Like_First_Article{
	display:flex;
	flex-direction: column;
	position:relative;
	margin-top:20px;

}
#Might_Like_First_Article img{
	width:160px;
	height:150px;
}
#Might_Like_First_Article p{
	font-size:10px;
	color:#4b4f54;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
}
/*****************************/
#Might_Like_Second_Article{
	display:flex;
	flex-direction: column;
	position:relative;
	margin-top:20px;

}
#Might_Like_Second_Article img{
	width:160px;
	height:150px;
	margin-left:10px;
	margin-right:10px;
}
#Might_Like_Second_Article p{
	font-size:10px;
	color:#4b4f54;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	margin-left:10px;
	margin-right:10px;
}
/*****************************************/
#Might_Like_Third_Article{
	display:flex;
	flex-direction: column;
	position:relative;
	margin-top:20px;

}
#Might_Like_Third_Article img{
	width:160px;
	height:150px;
}
#Might_Like_Third_Article p{
	font-size:10px;
	color:#4b4f54;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
}
#Migth_Like_Row{
	display:flex;
	flex-direction:row;
	float:left;
}
#msg{
	width:90%;
	height:150px;
}
#leave_comment{
	margin-top:40px;
}
#leave_comment h3{
	font-size:14px;
	font-family: 'Open Sans', sans-serif;
	color:#111111;
	font-weight:bold;
}
#leave_comment button{
	background-color:#111111;
	color:white;
	font-size:8px;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	height:30px;
	margin-top:30px;
	margin-bottom:100px;
}
#leave_comment form{
	margin-left:-10px;
}
#leave_comment form input{
	margin-right:2px;
}
#name{
	width:145px;
	margin-top:10px;
}
#email{
	width:145px;
	margin-top:10px;
}
#website{
	width:145px;
	margin-top:10px;
}
footer{
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  padding:0;
}
.row{
	margin-bottom:0!important;
}
#First_Block{
	background-color:#3a3e43;
	display:flex;
	flex-direction:row;

}
#first_col{
	background-color:#3a3e43;
	height:100%;
	width:240px;
	left:24%;
	position:relative;
}
#Second_Block{
	background-color:#3a3e43;
    width:200px;
    left:25%;
    position:relative;
}
#third_col{
	background-color:#3a3e43;
    width:200px;
    left:26%;
    position:relative;
    margin-top:20px;
}
#Social_Network{
	width:100%;
	height:40px;
	position:relative;
	background-color:#303336;
	display:flex;
	bottom:0;
	right:0;
	justify-content:center;	
}
#facebook{
	width:22px;
	height:22px;
	border-radius:50%;
	background-color:#3a3e43;
	display:flex;
	position:absolute;
	justify-content:center;
	align-self:center;
	right:32%;
	margin:5px;
	top:3%;
}
#twitter{
	width:22px;
	height:22px;
	border-radius:50%;
	background-color:#3a3e43;
	display:flex;
	position:absolute;
	justify-content:center;
	align-self:center;
	right:30%;
	margin:5px;
	top:3%;
}
#instagram{
	width:22px;
	height:22px;
	border-radius:50%;
	background-color:#3a3e43;
	display:flex;
	position:absolute;
	justify-content:center;
	align-self:center;
	right:28%;
	margin:5px;
	top:3%;
	color:white;
}
#up{
	width:18px;
	height:18px;
	background-color:#4a4b4c;
	display:flex;
	position:fixed;
	justify-content:center;
	align-items: center;
	right: 2%;
	bottom:2%;
} 
.fa-sort-up{
	position:relative;
	align-self:center;
	font-size:18px;
	margin-top:50%;
}
.fa-twitter{
	position:relative;
	align-self:center;
	color:white;
	font-size:10px;
}
.fa-facebook-f{
  position:relative;
  align-self:center;
  color:white;
  font-size:10px;
}
.fa-instagram{
	position:relative;
	align-self:center;
	color:white;
	font-size:10px;
}
.fa-sort-up{
	position:relative;
	align-self:center;
	color:white;
}
#categories{
	position:relative;
	height:248px;
	max-height:248px;
	font-size:8px;
	font-family: 'Open Sans', sans-serif;
	font-weight:900;
	margin-top:30px;
}

#categories hr{
	width:90%;
	margin-left:0%;
	margin-top:10px;
	opacity:0.2;
}
ul li a{
	text-decoration:none;
	color:white;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
}
li{
	list-style:none;
}
#title_footer{
    font-size:8px;
	color:#a6a6a6;
	margin-bottom:5px;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	left:-40px;
	margin-top:20px;
	position:relative;
}
.title_footer{
	font-size:8px;
	color:#a6a6a6;
	margin-bottom:5px;
	margin-top:14px;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	margin-left:-100px;
	position:relative;
}
#first_Article a h3{
	font-size:8px;
	color:white;
	position:relative;
	margin-top:0px;
	float:right;
	line-height:10px;
	font-family: 'Open Sans', sans-serif;
	font-weight:900;
	right:20px;
	margin-right:10px;
	justify-content:flex-start;
}
#popular_post{
	margin-top:30px;
}
#first_Article img{
  width:57px;
  height:44px;
  margin-left:-22px;
}
#second_Article a h3{
	font-size:8px;
	color:white;
	position:relative;
	float:right;
	line-height:10px;
	font-family: 'Open Sans', sans-serif;
	font-weight:900;
	margin-right:10px;	
}
#second_Article img{
  margin-top:20px;
  width:57px;
  height:44px;
}
#third_Article img{
  margin-top:20px;
  width:57px;
  height:44px;
}
#third_Article a h3{
	font-size:8px;
	color:white;
	margin-right:10px;
	position:relative;
	float:right;
	line-height:10px;
	font-family: 'Open Sans', sans-serif;
	font-weight:900;	
}
#instagram_Pictures img{
	width:58px;
	height:56px;
	margin:1px;
}

@media only screen
and (min-device-width : 100px)
and (max-device-width : 650px){
   #text #masked{
     display:none;
   }#article_nutrition {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 12;
    grid-row-start: 2;
    margin-top: 40px;
    margin-left:8%;
}#image_Dog{
	width:100%;
}#mobile{
		display:block;
		text-align:center;
	}#hide{
		display:none;
	}#Circle_Text{
		display:none;
	}.header-middle{
		font-size:0.7em;
	}#Might_Like{
		display:none;
	}#First_Block{
		display:none;
	}#leave_comment h3{
	font-size:30px;
	font-family: 'Open Sans', sans-serif;
	color:#111111;
	font-weight:bold;
}#msg{
	width:100%;
	height:150px;
	font-size:30px;
}#article_nutrition h1{
	font-size:30px;
	margin-top:60px;
}#nutrition{
   font-size:20px;
   margin-top: 20%;
   left:3%;
}.button-search{
	display:none;
}.logo-farmer{
	display:none;
}form{
	font-size:30px;
}#leave_comment form input{
	width:263px;
}#leave_comment button{
	height:60px;
	width:263px;
	font-size:20px;
}#Social_Network{
	height:200px;
}#twitter{
	width:50px;
    height:50px;
    margin-right:60px;
     right:50%;
}.fa-twitter{
   font-size:30px;
}.fa-facebook-f{
  font-size:30px;
}

#insta {
    font-size: 30px;

}
#facebook{
	width:50px;
    height:50px;
    right:45%;
    margin-left:30px;
    margin-right:30px;
}
#instagram{
	width:50px;
	height:50px;
	right:40%;
}
#up{
	width:50px;
	height:50px;
	right:5%;
}
.fa-sort-up{
	font-size:40px;
}
.mobile-menu{
	width:86px;
	height:20px;
}
.header-left {
    margin-top:100px;
}
	#section_share p{
	font-size:30px;
}
#section_share button{
	font-size:25px;
	width:164px;
	height:40px;
	margin-top:35px;
}
#section_share{
	left:1%;
}
#btn_share_facebook .fa-facebook-f{
	font-size:25px;
}
#btn_share_tweet .fa-twitter{
	font-size:25px;
}
#btn_share_pinterest .fa-pinterest{
	font-size:25px;
}
.header-left h1{
	position: absolute;
	margin-top:4%;
	left:32%;
	font-size:100px;

}#Social_Network h1{
		display:block;
		color:white;
		margin-top:8%;
	}header{
		height:200px;	
	}.Might_like{
		display:block;
	}.Might_like{
       font-size:25px;
		}#Migth_Like_Row {
    display: flex;
    flex-direction: column;
    float: left;
    width:100%;
}#Might_Like_First_Article{
	display:flex;
	flex-direction: row;
	}#Might_Like_First_Article img {
    width: 25%;
    height: 200px;
}#Might_Like_First_Article p{
	font-size:30px;
	margin-left:50px;
}#Might_Like_Second_Article{
	display:flex;
	flex-direction: row;
	}#Might_Like_Second_Article img {
    width: 25%;
    height: 200px;
    margin:0;
}#Might_Like_Second_Article p{
	font-size:30px;
	margin-left:50px;
}#Might_Like_Third_Article{
	display:flex;
	flex-direction: row;
	}#Might_Like_Third_Article img {
    width: 25%;
    height: 200px;
}#Might_Like_Third_Article p{
	font-size:30px;
	margin-left:50px;
}#article_nutrition{
   margin-top:20%;
}
}
@media only screen
and (min-device-width : 651px)
and (max-device-width : 2000px){
	#mobile{
		display:none;
	}#Social_Network h1{
		display:none;
	}#facebook{
		display:block!important;
	}#twitter{
		display:block!important;
	}#instagram{
		display:block!important;
	}
}
@media only screen
and (min-device-width : 100px)
and (max-device-width : 1150px){
#masked{
	display:none!important;
}
}